apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: api-cors
  namespace: jenkins
spec:
  # 중요: CORS 설정은 'headers' 미들웨어의 한 기능입니다.
  headers:
    accessControlAllowOriginList:
      - "http://news.danyeon.cloud"
      - "https://news.danyeon.cloud"
    accessControlAllowOriginListRegex:
      - "^https?://(localhost|127\\.0\\.0\\.1)(:\\d+)?$"
    accessControlAllowMethods:
      - "GET"
      - "POST"
      - "PUT"
      - "DELETE"
      - "OPTIONS"
    accessControlAllowHeaders:
      - "*"
    accessControlMaxAge: 100
    addVaryHeader: true