apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: api-cors
  namespace: jenkins
spec:
  headers:
    accessControlAllowOriginList:
      - "http://news.danyeon.cloud"
      - "https://news.danyeon.cloud"
    accessControlAllowOriginListRegex:
      - "^https?://(localhost|127\\.0\\.0\\.1)(:\\d+)?$"
    accessControlAllowMethods:
      - "POST"
    accessControlAllowHeaders:
      - "*"
    accessControlMaxAge: 100
    addVaryHeader: true